p{
	font-family: "微软雅黑";
	font-size: 24px;
	text-align: center;
}

.div{
	width: 960px;
	margin: 10px auto;
}
.center{
	
}
.div1{
	width: 100%;
	height: 300px;
	background-position: center;
}
.div2{
	width: 300px;
	height: 300px;
	float: left;
	margin-left:120px;
}
.div3{
	width: 300px;
	height: 300px;
	float: right;
	margin-right:120px;
}
.foot{
	margin: 0px auto;
	text-align: center;
	clear: all;
}
.img1{
	width: 1000px;
	height: 600px;
	
}
li{
	list-style: none;
}

#content{
	margin: 0px auto;
	width: 600px;
	border: 1px solid blue;
}
.tip{
	border: solid 1px #fed698;
	padding: 8px 32px;
}
label{
	float: left;
	width: 100px;
	text-align: right;
}
input,select{
	margin-right: 4px;
	margin-left: 10px;
	float: left;
	width: 170px;
}
span{
	float: left;
	margin-right: 4px;
}
.order{
	height: 65px;
	margin: 7px 0;
}
.submit{
	background-color: #f90;
	display: inline-block;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 6px 22px;
}
input:focus,input:hover,select:focus,select:hover{
	color: #000;
	background: #E7F1F3;
	border: 1px solid #888;
}
textarea{
	margin-left: 10px;
}			
.order2{
	height: 35px;
	margin: 20px 0px;
}
